
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article List</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
    <body>
        <div class="wrapper">
            <h1><a href="{% url 'home' %}"> <img src="{% static 'logo.png' %}" alt=""> </a></h1>
            <nav>
                <ul>
                  {% if user.is_authenticated %}

                    <li><a href = "{% url 'articles:create' %}" class ="highlight">New Article</a></li>
                    <li>
                        <form class='logout-link' action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button class= "logout" type='submit'>Logout</button>
                        </form>
                    </li>
                  {% else %}
                    <li><a href = "{% url 'accounts:login' %}" class ="highlight">Login</a></li>
                    <li><a href = "{% url 'accounts:signup' %}" class ="highlight">Signup</a></li>
                  {% endif %}
                </ul>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>